
__pycache__
!pipeline/config.yaml
!pipeline/pipeline.lock
.cabal-sandbox/
.cache/
.direnv
.DS_Store
.eoc
.ghc.environment.*
.hpc
.hsenv
.HTF/
.idea/
.pipeline
.stack-work/
*.aux
*.bak
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.eventlog
*.fdb_latexmk
*.fls
*.hi
*.hie
*.hp
*.log
*.o
*.prof
# pipeline
build
cabal-dev
cabal.project.local
cabal.project.local~
cabal.sandbox.config
dist
dist-*
docs/site
eo-phi-normalizer/src/Language/EO/Phi/Syntax/Lex.hs
eo-phi-normalizer/src/Language/EO/Phi/Syntax/Par.hs
eo-phi-normalizer/src/Language/EO/Phi/Syntax/Par.info
node_modules
node_modules/
pipeline/*
result
tmp
try-unphi
venv
