# pipeline
.eoc
.pipeline

*.bak
eo-phi-normalizer/src/Language/EO/Phi/Syntax/Lex.hs
eo-phi-normalizer/src/Language/EO/Phi/Syntax/Par.hs
eo-phi-normalizer/src/Language/EO/Phi/Syntax/ErrM.hs
eo-phi-normalizer/src/Language/EO/Phi/Syntax/Skel.hs
eo-phi-normalizer/src/Language/EO/Phi/Syntax/Test.hs
eo-phi-normalizer/src/Language/EO/Phi/Syntax/Test
.cache/
.DS_Store
dist
dist-*
cabal-dev
build
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
docs/site
result
.direnv
venv
__pycache__
*.fdb_latexmk
*.fls
*.log
pipeline/*
!pipeline/config.yaml
!pipeline/pipeline.lock
node_modules

try-unphi
